.contactmain{
    background-color: rgb(62, 242, 65);

}
.content{
    text-align: center;
    color: rgb(13, 22, 147);
    font-size: 300%;
    font-weight: 800;
   
}
.contentt{
    text-align: center;
    color: rgb(5, 53, 44);
    font-size: 120%;
    font-weight: 800;
   
}
.box{
    color: rgb(121, 22, 107);
    font-size: 120%;
    font-weight: 800;
   
}